<ion-header>
    <ion-toolbar>
        <ion-title>Peso to Dollar</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <img src="https://images.pexels.com/photos/6921969/pexels-photo-6921969.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
            <ion-card-title>Peso to Dollar </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="inputp">
                <ion-item>
                    <ion-label type="text" position="stacked">Enter Amount in Peso (₱)</ion-label>
                    <ion-input [(ngModel)]="peso" placeholder="₱ 00.00"></ion-input>
                </ion-item>
            </div>

        </ion-card-content>
        <div class="buttoncon">
            <ion-button type="button" (click)="convert()">CONVERT</ion-button>

            <div class="resultcon">
                <br>
                <ion-label>USD ($)</ion-label>
                <ion-input type="text" [(ngModel)]="result1"></ion-input>
            </div>
        </div>



    </ion-card>



</ion-content>