ion-title {
    text-align: center;
    color: black;
    font-weight: bolder;
}

ion-button {
    color: aliceblue;
}

.socials {
    margin-top: -5%;
    text-align: center;
}

.socials ion-button {
    margin-bottom: -5%;
}

ion-card {
    padding-bottom: 7%;
    background-color: #181D31;
}

ion-card-content {
    text-align: center;
}

ion-card-subtitle {
    margin-top: 5%;
    font-size: large;
    text-align: center;
}

ion-card-title {
    text-align: center;
}