<ion-header>
    <ion-toolbar>
        <ion-title>Currency Converter App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="https://images.pexels.com/photos/730547/pexels-photo-730547.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
        <ion-card-header>
            <ion-card-title>Currency Converter</ion-card-title>
            <ion-card-subtitle>Outcomes Evaluation 8</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Justin Ron J. Galang
            <br> BSIT 3-1
        </ion-card-content>
        <div class="socials">
            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-facebook"></ion-icon> Justin Ron Galang
            </ion-button>

            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-instagram"></ion-icon> k1dla
            </ion-button>

            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-tiktok"></ion-icon> k1dla
            </ion-button>

            <ion-button fill="clear">
                <ion-icon slot="start" name="logo-twitter"></ion-icon> Jastenron
            </ion-button>
        </div>
    </ion-card>



</ion-content>