ion-title {
    text-align: center;
    color: black;
    font-weight: bolder;
}

ion-title {
    text-align: center;
    color: black;
    font-weight: bolder;
}

ion-card {
    background-color: #181D31;
}

.inputp {
    background-color: #E6DDC4;
    color: black;
}

.buttoncon {
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

ion-button {
    background-color: #678983;
}

.resultcon {
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    font-size: larger;
    font-weight: bolder;
}

ion-card-title {
    text-align: center;
}

.result1 {
    align-items: center;
}